// Colors
$brand-primary:  #48627B;
$primary-green:  #27ae60;
$dark-blue: #2b3c4c;
$primary-blue: #25247b;
$light-gray: #edf1f4;
$text-primary: #727272;

$cinza-back: #222;
$rosa-principal: #CF2034;
$dourado: #6e5c34;


// Fonts

// Buttons
