section.video-curso {
    background-color: $fundo-section;
    padding: 5rem 0;

    &::before {
        content: url('/assets/img/faixa-verde.webp');
        margin-top: -7rem;
        position: absolute;
        left: 0;
    }

    &::after {
        content: url('/assets/img/faixa-verde.webp');
        margin-top: 2.7rem;
        position: absolute;
        right: 1rem;
    }

    & #videoApresentacao {
        max-width: 587.12px;
        margin: auto;
    }
}

section.tabela-curso {
    padding: 5rem 0;
    color: $cinza;

    input[type=radio].radio-nivel {
        display: none;

        &~label {
            width: 100%;
            height: 80px;
            text-align: center;
            border-radius: 50px;
            background-color: #fff;
            border: 1px solid;
            cursor: pointer;
            font-size: 22px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0.5;
        }

        $colors: (nivel1: $azul, nivel2: $verde, nivel3: $laranja, nivel4: $vermelho);

        @each $key,
        $value in $colors {
            &.#{$key}~label {
                border-color: $value;
                color: $value;
            }
        }

    }

    input[type=radio]:checked.radio-nivel {
        &~label {
            border-width: 5px;
            font-weight: bold;
            font-style: italic;
            opacity: 1;
        }
    }

    .lista-cursos {
        .list-group-item {
            text-align: center;
            border-color: #B5C0D1;
            padding-top: 1rem;
            padding-bottom: 1rem;

            &.active {
                z-index: 2;
                color: $azul;
                background-color: #fff;
                border-color: #B5C0D1;
                font-weight: 600;

                &::after {
                    font-family: "Font Awesome 5 Pro";
                    font-weight: 400;
                    content: '\f356';
                    position: absolute;
                    right: 15px;
                }
            }

            &:first-child {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            &:last-child {
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }
    }

    .tabela-aulas {
        border: 1px solid #AAB8CA;
        border-radius: 10px;
        padding: 1rem 1rem 0 1rem;

        .table {
            color: $cinza;

            .nome-aula-tabela {
                color: $cinza-escuro;
            }

            .badge-aulas-free {
                background-color: $verde-tema;
                color: #fff;
                height: 30px;
                border-radius: 10px;
                text-align: center;
                line-height: 30px;
                font-size: 14px;
            }

        }

    }

}
