[type=button].btn-tema {
    background-color: $azul-tema;
    padding: 11px 30px;
    height: 47px;
    border: none;
    border-radius: 23.5px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    outline: none;

    &:hover {}
}

[type=button].btn-branco {
    background-color: #fff;
    padding: 11px 30px;
    height: 47px;
    border: none;
    border-radius: 23.5px;
    color: $azul-tema;
    font-size: initial;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}

[type=button].btn-outline-branco {
    background-color: transparent;
    padding: 11px 30px;
    height: 47px;
    border: none;
    border-radius: 23.5px;
    color: #fff;
    border: 1px solid #fff;
    font-size: initial;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}
