$azul-tema : #1257B9;
$verde-tema : #06D6A0;
$preto-tema : #0D1B2A;
$preto : #1B263B;
$cinza : #778DA9;
$cinza-escuro: #384450;
$fundo-section: #FAFAFB;
$azul : #00B2EA;
$verde : #1DCD00;
$vermelho : #ED1C24;
$amarelo : #F5C92F;
$laranja : #FF862E;
$cinza-claro : #E0E1DD;

.cor-vermelha {
    color: $vermelho;
}

.cor-cinza-escuro {
    color: $cinza-escuro;
}

.cor-amarela {
    color: $amarelo;
}
