body {
    font-family: 'Open Sans', sans-serif !important;
}

.title {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    color: #0D1B2A;
    font-size: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 50px 0;
    margin: auto;

    &::before {
        content: url('/assets/img/faixa-azul.webp');
        text-align: left;
        margin-left: -80px;
        margin-bottom: -30px;
    }

    &::after {
        content: url('/assets/img/faixa-azul.webp');
        text-align: right;
        margin-top: -20px;
        margin-right: -80px;
    }
}

.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    width: 100%;
    background: linear-gradient(90.95deg, #1257B9 0%, #06D6A0 100%);

    & input[type=email] {
        height: 47px;
        border-radius: 23.5px;
        padding: 0 2rem;
    }
}
